html, body{
	margin: 0;
	padding: 0;
}

body{
	min-height: 100%;
}

.u-hide {
	display: none;
}

.center {
	text-align: center;
}

h2 {
	font-size: 3rem;
}

a.cta_txt {
	text-decoration: none;
	color: #222;
	position: relative;
	margin-bottom: 10px;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -3px;
		height: 2px;
		width: 100%;
		background: #222;
	}
}

a.cta {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px 10px;
	transition: all .2s ease-out;
	font-size: .8rem;

	&:hover {
		opacity: .8;
	}
}

.user_infos {
	position: fixed;
	top: 0;
	right: 0;
	background: white;
	box-shadow: 0 0 10px 0px rgba(0,0,0,.2);
	padding: 0 30px 0 0;
	width: 300px;
	font-size: .8rem;

	img {
		position: relative;
		display: inline-block;
		vertical-align: top;
		max-width: 40%;
		height: auto;
	}

	.infos {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: 20px;
		padding: 10px 0;
		max-width: 40%;
	}

	p {
		margin: 0;
	}

	a {
		display: inline-block;

		&.site {
			display: block;
		}

		&.cta {
			margin-top: 5px;
		}
	}
}

.user-lang-legend {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;

	div {
		padding: 10px 20px;
		border: 1px solid #FFF;
		color: #FFF;
	}
}

.user-lang-legend:hover + .user-lang-round svg .slice {
	opacity: .6;

	&.active, &.click {
		opacity: 1;

		text {
			opacity: 1;
		}
	}
}

.user-lang-round.click svg .slice {
	opacity: .6;

	&.click {
		opacity: 1;

		text {
			opacity: 1;
		}
	}
}

.user-lang-round {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;

	li {

		& + li {
			margin-top: 20px;
		}

		span {
			height: 100%;
			display: inline-block;
			padding: 10px;
		}
	}
}

svg:not(:root) {
	overflow: visible;
}

svg .slice {
	transition: all .3s ease-out;
	
	text {
		opacity: 0;
		transition: all .3s ease-out;
	}
}

.nb-contrib {
	font-size: 0;
	& > p {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		font-size: 2rem;
		width: 60vw;
		span {
			font-size: 3rem;
		}
	}
}

.some-contrib {
	font-size: 0;

	div {
		display: inline-block;
		vertical-align: middle;
		width: 20vw;
		position: relative;
	}

	img {
		width: 100%;
		height: auto;
	}

	p {
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 1rem;
		color: white;
		background: rgba(0,0,0,.8);
		padding: 10px;
	}

	&-left, &-right {
		width: 20vw;
		height: auto;
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
}











